h1{
    color:bisque;
    margin-left: 30px;
}
*{
    border:solid;
}
.header * {
    border: solid;
}
.header{
    color: #FFFFFF;
    background-color: aquamarine;
    display:flex;
    justify-content: space-between;
}

.menu{
    margin-right: 30px;
}
.menu a{
    margin-left: 20px;
}

.grid{
    color: #FFFFFF;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: #000000;
}

h2{
    color: #FFFFFF;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

p,h2 {
    text-align: center;
}

.game{
    position: relative;
}

.game p{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
}

.game:hover p{
    opacity: 0.33;
    color: black;
}